@tailwind base;
@tailwind components;
@tailwind utilities;


/* body {
  color: white;
  box-sizing: border-box;
  padding: 0;
  background-color: black;
  width: 100vw;
} */
@layer base {
  body {
    @apply w-screen p-0 box-border bg-white text-black dark:bg-black dark:text-white min-h-screen flex justify-center
  }
  html {
    @apply bg-white dark:bg-black
  }
}

@layer components {
  .svg-icons {
    @apply stroke-black dark:stroke-white w-[24px] h-[24px]
  }
  .auth-input {
    @apply border border-borderGray p-2 rounded focus:border-gray-600 focus:outline-none caret-accentBlue bg-slate-50 text-black
  }
  .icon-container{
    @apply flex justify-center items-center p-2
  }

  .sticky-header {
    @apply py-2 flex gap-3 justify-between sticky top-0 left-0 w-full px-1 list-none m-0 bg-white border-borderGray border-solid border-b-[0.5px] dark:bg-black md:border-b-0
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
