@tailwind base;
@tailwind components;
@tailwind utilities;


/* body {
  color: white;
  box-sizing: border-box;
  padding: 0;
  background-color: black;
  width: 100vw;
} */
@layer base {
  body {
    @apply w-screen p-0 box-border bg-white text-black dark:bg-black dark:text-white
  }
}

@layer components {
  .svg-icons {
    @apply fill-black dark:fill-white w-8 h-8
  }
  .auth-input {
    @apply border border-gray-300 p-2 rounded focus:border-gray-600 focus:outline-none caret-blue-500
  }
  .nav-icon-container {
    @apply flex justify-center items-center p-2
  }
}
